---
import Section from "./Section.astro";
import LinkCard from "./LinkCard.astro";

// Menangkap data 'links' dan 'title' yang dikirim dari index.astro
const { links, title } = Astro.props;
---

{/* Mengganti teks Spanyol bawaan dengan variabel 'title' yang kita buat */}
<Section title={title}>
  <div class="flex flex-col gap-4">
    {
      links.map((link: any) => (
        <LinkCard {...link} />
      ))
    }
  </div>
</Section>
